@{
    ViewData["Title"] = "MiniAdmin HomePage";
}
<div id="center-panel" data-options="region:'center',iconCls:'icon-ok'">

    <h3>MiniAdmin Home Page</h3>
    <a asp-action="Index" asp-controller="Pages" asp-area="Admin">Pages</a>
    <a asp-action="Index" asp-controller="Templates" asp-area="Admin">Templates</a>
    <a asp-action="Index" asp-controller="Widgets" asp-area="Admin">Widgets</a>
    <a asp-action="Index" asp-controller="UrlRoutes" asp-area="Admin">UrlRoutes</a>
    <a asp-action="Index" asp-controller="Resources" asp-area="Admin">Resources</a>
</div>

