@using Microsoft.AspNetCore.Mvc
@model Pager<Page>
@{
    ViewData["Title"] = "MiniAdmin HomePage";
    Layout = "~/Areas/Admin/Views/Shared/Layout.EasyUI.cshtml";
}

@section west {
    <ul id="page-tree" class="easyui-tree" data-options="url:'@Url.Action("TreeJson","Pages",new { area="Admin"})',method:'get'"></ul>
}

@Url.Action("DynamicPage", "DynamicContent", new { area = "" })

@section temp {
    <div id="pageNodeContextMenu" class="easyui-menu" style="width:120px;">
        <div onclick="append()" data-options="iconCls:'icon-add'">Append</div>
        <div onclick="removeit()" data-options="iconCls:'icon-remove'">Remove</div>
        <div onclick="preivew()">Preview</div>
        <div class="menu-sep"></div>
        <div onclick="expand()">Expand</div>
        <div onclick="collapse()">Collapse</div>
    </div>

    <div id="dlg" method="post" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
         closed="true" buttons="#dlg-buttons">
        <div class="ftitle">Page Create</div>
        <form id="fm" method="post">
            <div style="margin-bottom: 20px">
                <input id="ParentPageId" name="ParentPagesId" hidden>
                <input class="easyui-textbox" name="Title" style="width: 100%" data-options="label:'Title:'">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="Url" style="width:100%" data-options="label:'Url:'">
            </div>
            <div style="margin-bottom:20px">
                <input name="TemplateId" class="easyui-combotree" style="width:100%"  data-options="
                   url:'@Url.Action("TreeJson","Templates")',
                   method:'get',
                   label:'Template:'"/>
            </div>
        </form>
        <div id="dlg-buttons">
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="savePage()">Save</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
        </div>
    </div>}

@section scripts{
    <script>

        $('#page-tree').tree({
            onClick: function (node) {
                // alert node text property when clicked
                $('#center-panel').panel('open').panel('refresh', node.attributes.url);
            },
            onContextMenu: function (e, node) {
                e.preventDefault();
                $(this).tree('select', node.target);
                $('#pageNodeContextMenu').menu('show',
                    {
                        left: e.pageX,
                        top: e.pageY
                    });
            }
        });

        function append() {

            $('#dlg').dialog('open').dialog('setTitle', 'Append');
            $('#fm').form('clear');
            document.getElementById("ParentPageId").value = $('#page-tree').tree('getSelected').id;
        };

        function preivew() {
            console.log("page preview");
            window.open('@Url.Action("DynamicPage", "DynamicContent",new { area="" })?pageId=' + $('#page-tree').tree('getSelected').id, '_blank');
            window.focus();
        };

        function savePage() {
            $('#fm').form('submit',
                {
                    url: '/Admin/Pages/Create',
                    onSubmit: function () {

                        return $(this).form('validate');
                    },
                    success: function (data) {
                        var result = eval('(' + data + ')');
                        if (result.error) {
                            $.messager.show({
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        } else {
                            $('#dlg').dialog('close'); // close the dialog

                            //刷新树
                            $('#page-tree').tree({
                                onClick: function (node) {
                                    $('#center-panel').panel('open').panel('refresh', node.attributes.url);
                                },
                            });

                            $.messager.show({
                                title: 'Success',
                                msg: "append success !"
                            });
                        }
                    }
                });
        };

        function expand() {
            var node = $('#page-tree').tree('getSelected');
            $('#page-tree').tree('expand', node.target);
        };

        function collapse() {
            var node = $('#page-tree').tree('getSelected');
            $('#page-tree').tree('collapse', node.target);
        };

        function removeit() {
            var node = $('#page-tree').tree('getSelected');
            $.ajax({
                url: '/admin/pages/delete',
                data: { Id: node.id },
                type: 'post',
                success: function (result) {
                    if (result.error === true) {
                        $.messager.alert(result.errorMsg, 'deleted fail!');
                    }

                    $.messager.alert('Warning', 'deleted success!');
                    $('#page-tree').tree({
                        onClick: function (node) {
                            $('#center-panel').panel('open').panel('refresh', node.attributes.url);
                        }
                    });
                }
            });
        };

    </script>
}

